html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #9ebbff;
}

.container {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.terminal-symbol {
    margin-right: 16px;
}

.cursor {
    animation: blink 1.3s infinite;

    /* align bottom of cursor with bottom of letters*/
    position: relative;
    bottom: 1px;

    /* add a bit of space between text and cursor*/
    margin-left: 4px;
}

@keyframes blink {
    0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
