html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #91a6ff;
}

.container {
    font-family: 'Ubuntu', monospace;
    font-size: 1.8em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.terminal-symbol {
    margin-right: 16px;
}

.cursor {
    animation: blink 1.2s steps(2, start) infinite;
    /* align bottom of cursor with bottom of letters*/
    position: relative;
    bottom: 1px;
    /* add a bit of space between text and cursor*/
    margin-left: 4px;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
