html,
body {
    position: relative;
    margin: 0 auto;
    max-width: 50em;
    padding: 3em 1em;

    font-size: 1em;
    font-family: 'Ubuntu', monospace;
    color: #ffeb3b;
}

.main-page {
    background: #121212;
}

a {
    color: #ffeb3b;
}

.contact {
    margin-bottom: 50px;
}
